# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
.env

# OS-specific
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Build
build/
temp/
.cache/
.next/
out/

# Editor configs
.vscode/
.idea/
*.swp

# TypeScript
*.tsbuildinfo

# Optional: exclude backend-only folders
Backend/node_modules/

node_modules/
